<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="riku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <riku.Properties.Settings>
      <setting name="color" serializeAs="String">
        <value>rojo</value>
      </setting>
      <setting name="loadingName" serializeAs="String">
        <value>Riku</value>
      </setting>
      <setting name="loadingPhr" serializeAs="String">
        <value>Version Empresarial</value>
      </setting>
      <setting name="startMode" serializeAs="String">
        <value>fullScreen</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>mainpage</value>
      </setting>
      <setting name="instance" serializeAs="String">
        <value>NoData</value>
      </setting>
      <setting name="webhomepage" serializeAs="String">
        <value>google.com</value>
      </setting>
      <setting name="database" serializeAs="String">
        <value>riku</value>
      </setting>
      <setting name="integratedSecurity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConnectTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Encrypt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TrustServerCertificate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApplicationIntent" serializeAs="String">
        <value>ReadWrite</value>
      </setting>
      <setting name="MultiSubnetFailover" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="currentVersion" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="localVersion" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="searchUpdatesonLoad" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="url1" serializeAs="String">
        <value>http://ronycruz.com</value>
      </setting>
      <setting name="lastRequest" serializeAs="String">
        <value />
      </setting>
      <setting name="receiptName" serializeAs="String">
        <value>Riku Software</value>
      </setting>
      <setting name="customReceiptFooter" serializeAs="String">
        <value>You can customize this text You can customize this text You can customize this text You can customize this text </value>
      </setting>
      <setting name="dbUser" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="dbPass" serializeAs="String">
        <value>sa1234</value>
      </setting>
      <setting name="rikuNetworkSyncActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rikuNetworkBussinessCode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rikuNetworkPassword" serializeAs="String">
        <value />
      </setting>
    </riku.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>